<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASL Translator</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      h1 {
        font-size: 5em;
      }

      img {
        max-width: 100%;
        width: 80%;
        height: auto;
        display: block;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <h1>ASL Translator</h1>
    <img src="{{ url_for('video_feed') }}" />
    <p></p>
  </body>
</html>
